body {
    background-color: #F9F9F9;
}

#forkme_banner {
    display: block;
    position: relative;
    padding: 10px 50px 10px 50px;
    color: #fff;
    background: url('blacktocat.png') #333333 no-repeat 10px 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.block-container {
    display: inline-block;
}

.example-1 {
    display: block;
}

.example-1 .nv-scope {
    padding: 15px;
    margin: 0;
}

.example-1 .block {
    float: left;
}

.example-2 .nv-scope {
    width: 700px;
    height: 300px;
    padding: 0px;
    margin: 0;
    overflow: scroll;
}

.example-2 .block {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #424242;
}

.example-2 .wide-container {
    width: 1000px;
    height: 150px;
    position: relative;
    padding: 0;
    margin: 0;
}

.block {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.block svg {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: 99;
}

.orange {
    background-color: #FFB74D;
}

.yellow {
    background-color: #FFD54F;
}

.green {
    background-color: #7CB342;
}

.nv-scope {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background-color: #E0E0E0;
    margin: 10px;
    overflow: hidden;
}

.inactive {
    background-color: lightgray;
}

.nv-scope {
    background-color: #E0E0E0;
}

.nv-scope-current {
    background-color: #DCEDC8;
}

.nv-scope-current .nv-el-current {
    background-color: #03A9F4;
}

div#nav-event-info {
    width: 200px;
    border: 1px solid greenyellow;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    padding: 7px 10px;
    z-index: 99;
}